@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Sevillana&display=swap');

    /* Common styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.bgi{
    background: rgb(0, 0, 0);
}
.bg{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
.body{
    font-family: "Inter", sans-serif;
     
}
.span{
    color: rgb(230, 83, 60);
}

.container{
    width: 80%;
    margin: 5rem auto;
    border-radius:1rem ;
}
  
  





    
.tittle{
    font-size: 36px;
   font-weight: 800;
}
.banner-nav-section{
    display: flex;
    justify-content: space-between;

    

    
    
}

.home{
    width: 92px;
    height: 38px;
    background-color:  rgb(230, 83, 60);
    border: 2px solid rgb(230, 83, 60);
    border-radius: 30px;
}
.nav{
    font-weight: 700;
    font-size: 15px;
    background: none;
    color: white;
    border: none;
    margin-left: 30px;
    padding: 4px 19px 4px 19px;
}
.nav-option{
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
}
.ham-burger{
    color: aliceblue;
    display: none;
}
 
.shape{
    
    font-family: "Great Vibes", cursive;
    font-size: 78px;
    font-weight: 400;
    color: rgb(255, 255, 255);

}
.banner-content h1{
font-size: 78px;
font-weight: 800;
color: rgb(255, 255, 255);
}
.banner-content p{
color: rgba(255, 255, 255, 0.5);
font-size: 16px;
font-weight: 400;
}

.btn-1{
width: 224px;
height: 54px;
border-radius: 44px;
background: rgb(230, 83, 60);
margin-top: 10px;
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0px;

}
.btn-2{
    width: 224px;
    height: 54px;
    border-radius: 44px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    background: rgb(17, 17, 17); 
    }
    .banner-img-section{
      position: relative;
    }


    .workout-video{
     
        width: 50%;
     
        text-align: center;
        padding: 15px 3px;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(24px);
        color: rgb(255, 255, 255);
        position: absolute;
        top: 24%;
        left: 70%;
        border-radius: 12px;
    }
    .video-tutorial{
        
        width: 60%;
        padding: 15px 43px;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(14px);
        color: rgb(255, 255, 255);
        position: absolute;
        top: 75%;
        right: 75%;
        border-radius: 12px;
    }

        /* Habits styles */

    .banner-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .habit-t
    {
        text-align: center;
       

    }
    .habit-t h1{
        color: rgb(255, 255, 255);
        font-size: 48px;
        font-weight: 900;
        margin-bottom: 10px;
    }
    .habit-t p{
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 10px;
        text-align: center;
        justify-content: center;
       

    }
    .habit h3{
        text-align: center;
       
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .habit p{
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    .habit-container{
        display: flex;
        justify-content: space-between;
         padding: 20px;
        
        
    }
    .habit img{

        width: 100%;
        border-radius: 50%;
        margin-bottom: 10px;
    }
    .habit{
        width: 15%;
        
    }
    
/*

    .run h3{
           color: rgb(255, 255, 255);
           font-size: 48px;
           font-weight: 900;
    }
    .run p{
            color: rgba(255, 255, 255, 0.5);
            font-size: 14px;
            font-weight: 400;
    }
    .run-extra-mile{
        display: flex;
         justify-content: space-between;
          border-radius: 18px;
          background: rgb(34, 34, 34);
          margin-bottom: 63px;
    }

    .run-img{
        background: rgb(34, 34, 34);
        border-radius: 18px;
    }

    .run-img img{
        width: 600px;
        height: 450px;
        border-radius: 18px;
        margin: 30px 30px 30px;
    }
    
    .run{
        margin-left: 54px;
        margin-top: 70px;
        background: rgb(34, 34, 34);
    }
   
    .section-title{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 48px;
        font-weight: 900;
        text-align: center;
    }

    */
        /* Run Extra mile styles */
    .run-container, .body{
        width: 80%;
        max-width: 1440px;
        margin: 0 auto;
        margin-top: 100px;
        border-radius: 18px;
        background: rgb(34, 34, 34);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 150px;
        padding: 30px 32px 29px 54px;
       
    }
    
    .run-text-content h2{
        font-size: 3rem;
        font-weight: 900;
        color: rgb(255, 255, 255);
    }
    
    .run-text-content p{

    color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        font-weight: 400;
        margin-top: 14px;
        margin-bottom: 34px;
        line-height: 1.5;
    }
    
    .run-text-content button{
        padding-left: 60px;
        padding-right: 60px;
    }
    
    .run-container img{
        width: 400px;
        height: 330px;
        object-fit: none;
        object-position: 67% 34%;
        border-radius: 18px;
    }
    .run-container{
        margin-bottom: 10px;
    }


    /* BMi tex styles */
    .bmi-content h1{
    color: rgb(255, 255, 255);
 
    font-size: 48px;
    font-weight: 900;
    }


    .bmi-content p{
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        font-weight: 400;
        margin-top: 10px;
        }
        .bmi-content{
          text-align: center; 
        }

  /*   
    /* Bmi table styles /* 
    
  */
  .bim-calculator{
    background-color: rgb(34, 34, 34);
    height: 487px;

}
.bim-calculator-content{
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    padding-top: 5%;

}
.bim-calculator-container h3{
    color: rgb(255, 255, 255);
    margin-bottom: 55px;
    font-weight: 900;
    font-size: 28px;
}

table{
    width: 310px;
    height: 216px;
    border-collapse: collapse;
}
.table-heading{
    color: rgb(255, 255, 255);
}
th, td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 5px 10px;
    color: rgba(255, 255, 255, 0.5);
}
.bim-calculate-container{
    width: 577px;
    height: 386px;
    
}
.bim-calculate-container h3{
    font-weight: 900;
    font-size: 28px;
    color: rgb(255, 255, 255);
}
.bim-calculate-container p{
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 10px;
    margin-bottom: 34px;
}
.inp-1{
    width: 282px;
    height: 48px;
    padding: 12px 40px 12px 20px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    margin-top: 12px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
}
.inp-2{
    width: 577px;
    height: 48px;
    padding: 12px 20px 12px 20px;
    border-radius: 8px;
    margin-top: 12px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
}  


/* team */
.our-team-member{
    background-color: black;
}
.meet-team-content{
    width: 1060px;
    height: 892px;
    margin: 0 auto;
    text-align: center;
   
}
.meet-team-container{
    width: 671px;
    height: 120px;
    margin: 0 auto;
    padding-top: 80px;
}
.meet-team-container h1{
    font-size: 48px;
    color: rgb(255, 255, 255);
}
.meet-team-container p{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 19px;

}
.team-image-container{
    width: 1060px;
    height: 604px;
    border-radius: 18px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 105px;
}

.team-member-image{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.team-member-image img{
    width: 326px;
    height: 272px;
    border-radius: 18px;
}



.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}

.team{
    padding-bottom: 5.3rem;
}

.t-name{
    position: absolute;
    top: 12.7rem;
    left: 1rem;
}
.t-name h1{
   color: white;
   font-size: 1.3rem;
   font-weight: 700;
}

.t-name p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 500;
}



/* Footer */
footer {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 66px 191px 174px 190px;
  }
  
  .footer-logo-text {
    font-size: 4.375rem;
    font-weight: 800;
    font-style: italic;
    color: #e6533c;
    margin-bottom: 1.25rem;
  }
  
  .footer-logo {
    max-width: 100%;
  }
  .get-started-title {
    color: rgb(255, 255, 255);
   
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 2.5rem;
  }
  
  footer ul li {
  
    list-style-type: none;
    margin-bottom: 1.25rem;
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    font-weight: 400;
 
  }
  
  hr {
    max-width: 80%;
    height: 1px;
    margin: 0 auto;
    background-color: rgba(121, 121, 121, 0.8);
    border-style: none;
  }
  
  .footer-text {
    text-align: center;
    padding: 2.125rem 0px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    font-weight: 400;
  }
  .section-description{
    color: rgba(255, 255, 255, 0.5);
     font-size: 14px;
     font-weight: 400;
  }


  /*responsive*/

  @media screen and (max-width: 576px) {

    .nav-option{
        display: none;
    }
    .ham-burger{
        display: block;
    }
    .ham-burger i{
        font-size: 26px;
    }
    .btn-2{
        padding-left: 40px;
        padding-right: 40px;
        font-size: 14px;
    }   
    h3{
        font-size: 26px;
    }
    h1{
        font-size: 26px;
    }
    .banner-section{
        flex-direction: column;

    }
    .banner-content h1{
        width: 295px;
        font-size: 30px;
       

    }
  
    .workout-video{
        width: 40%;
        top: 10%;
        left: 45%;
        padding: 5px 2px;
    }
    .video-tutorial{
        width: 35%;
        top: 50%;
        right: 60%;
        text-align: center;
        padding: 5px 9px;
    }
 
    .habit-container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .habit {
        width: 90%; 
        margin-bottom: 20px; 
    }

    .habit img {
        width: 85%; 
       
        margin-bottom: 10px;
    }

    .habit-t h1 {
        font-size: 32px; 
    }

    .habit-t p {
        font-size: 12px; 
    }

    .habit h3 {
        font-size: 16px; 
    }

    .habit p {
        font-size: 12px; 
    }
  
    .run-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;
        margin-top: 50px; 
    }

    .run-text-content h2 {
        font-size: 2rem; 
        text-align: center;
    }

    .run-text-content p {
        font-size: 12px; 
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .run-text-content button {
        padding-left: 40px;
        padding-right: 40px;
        font-size: 14px; 
    }

    .run-container img {
        width: 100%; 
        height: auto;
        object-fit: cover; 
        object-position: center; 
    }

  

    .bmi-content p {
        font-size: 12px; 
       
    }
    .bmi-content h1 {
        font-size: 26px; 
       
    }
   
    .bmi-content {
        width: 60%;
    }
    .bim-calculator{
       
        height: 817px;
        padding: 19px;
    }
    .bim-calculator-content{
        flex-direction: column;
    }
    .bim-calculator-container h3,
    .bim-calculate-container h3{
        width: 167px;
        font-size: 16px;
    }
    .bim-calculate-container {
        width: 500px;
    }
    .inp-1{
        height: auto;
        width: 160px;

    }
    .inp-2 {
        height: auto;
        width: 320px;
    }
    .btn-1{
        padding-left: 40px;
        padding-right: 40px;
        font-size: 14px;
    }
   
    

    /* Team Section */
    .meet-team-content {
        width: 100%; 
        height: auto; 
        padding: 20px; 
    }

    .meet-team-container {
        width: 100%; 
        padding-top: 40px; 
    }

   .meet-team-container h1{
    font-size: 26px;
   }

    .meet-team-container p {
        font-size: 12px; 
        margin-top: 10px;
    }

    .team-image-container {
        width: 100%; 
        height: auto; 
        margin-top: 20px;
    }

    .team-member-image {
        grid-template-columns:  1fr; 
       
    }

    .team-member-image img {
        width: 100%; 
        height: auto; 
    }

    /* Footer */
    .footer-container {
        grid-template-columns: 1fr; 
        gap: 20px; 
        padding: 20px; 
    }

    .footer-logo-text {
        font-size: 2.5rem; 
        margin-bottom: 1rem; 
        
    }

    .get-started-title {
        font-size: 24px; 
        margin-bottom: 1.5rem; 
        
    }

    footer ul li {
        font-size: 18px; 
        margin-bottom: 0.75rem; 
        ;
    }

    .footer-text {
        font-size: 18px; 
        padding: 1rem 0; 
    }

    .section-description {
        font-size: 12px; 
       
    }
}

  
    


    

  
  



        